<!-- Pages/CourseDetail.razor -->
@page "/course-details/{courseId:int}"

<h3>@course?.Name</h3>

@if (course != null)
{
    <div>
        <p>@pageContent</p>
        <button class="btn btn-primary" @onclick="PreviousPage" disabled="@currentPageIndex == 0">Previous</button>
        <button class="btn btn-primary" @onclick="NextPage" disabled="@currentPageIndex == course.Pages - 1">Next</button>
    </div>
}

@code {
    [Inject]
    private ApiService ApiService { get; set; }

    [Parameter]
    public int CourseId { get; set; }

    private Course course = null;
    private string pageContent = string.Empty;
    private int currentPageIndex = 0;

    protected override async Task OnParametersSetAsync()
    {
        var crs = await ApiService.GetCourseByIdAsync(CourseId);
        if (crs != null)
        {
            // TODO get current page content
            course = crs;   
        }
    }

    private void NextPage()
    {
        if (currentPageIndex < course.Pages - 1)
        {
            currentPageIndex++;
        }
    }

    private void PreviousPage()
    {
        if (currentPageIndex > 0)
        {
            currentPageIndex--;
        }
    }
}
