@page "/courses"
@using Newtonsoft.Json
@attribute [StreamRendering]


<PageTitle>Courses</PageTitle>
<h3>Courses</h3>
<AuthorizeView>
    <NotAuthorized>

    </NotAuthorized>
    <Authorized>
        @if (CurrentCourses == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="row">
                @foreach (var course in CurrentCourses)
                {
                    <div class="col-md-4 mb-3">
                        <JavascriptLearningTool.Components.Layout.CourseCard Course="course" />
                    </div>
                }
            </div>
        }

    </Authorized>
</AuthorizeView>

@code {

    [Inject]
    private ApiService ApiService { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private Course[]? CurrentCourses;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationState != null && (await authenticationState).User?.Identity?.IsAuthenticated is true)
        {
            CurrentCourses = await ApiService.GetUserCourses();
        }
    }
}
