@page "/"
@using JavascriptLearningTool.Services
@inject UserService UserService

<PageTitle>Home</PageTitle>

<h1>Hello, @(UserService.GetUser().Identity?.Name ?? "world")!</h1>

Welcome to your new app.
