@page "/"
@rendermode InteractiveServer
@using JavascriptLearningTool.Services
@inject UserService UserService
@inject UserAuthenticationStateProvider UserAuthenticationStateProvider
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, @(UserService.User.Identity?.Name ?? "world")!</h1>

Welcome to your new app.

<div style="position: fixed; bottom: 20px; right: 20px;">
    <button class="btn btn-primary" @onclick="Logout" href>Logout</button>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        if (!UserService.IsLoggedIn)
        {
            Navigation.NavigateTo("login");
        }

    }

    private async Task Logout()
    {
        await UserAuthenticationStateProvider.LogoutAsync();
        Navigation.NavigateTo("login");
    }
}

