@page "/tests"
@using JavascriptLearningTool.Components.Layout
<h3>Tests</h3>
@if (CurrentTests == null)
{
    <Spinner Color="SpinnerColor.Primary" />
}
else
{
    <Switch @bind-Value="isFocusMode" Label="FocusMode" />
    <div class="row">
        @foreach (var test in CurrentTests)
        {
            <div class="col-md-4 mb-3">
                <TestCard Test="test" OnButtonPress="() => NavigateToTestDetails(test.CourseId)" />
            </div>
        }
    </div>
}

<div class="row">
    <div class="col-md-4 mb-3">
        <TestCard Test="@(new Test{ Title = "Comprehensive Test", Duration = Constants.ComprehensiveTestDuration })" OnButtonPress="NavigateToComprehensiveTestDetails" />
    </div>

</div>

@code {

    [Inject]
    private ApiService ApiService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private Test[] CurrentTests;
    private bool isFocusMode = false;
    private string getFocusRoute => isFocusMode ? "?focused=true" : "";

    protected override async Task OnInitializedAsync()
    {
        var tests = await ApiService.GetTestsAsync();
        if (tests != null)
        {
            CurrentTests = tests.ToArray();
        }
    }

    private void NavigateToTestDetails(int courseId) => NavigationManager.NavigateTo($"/test-details/{courseId}{getFocusRoute}");

    private void NavigateToComprehensiveTestDetails() => NavigationManager.NavigateTo($"/test-details/{Constants.ComprehensiveTestRoute}{getFocusRoute}");
    
}
