@page "/tests"
@using JavascriptLearningTool.Components.Layout
<h3>Tests</h3>
@if (CurrentTests == null)
{
    <Spinner Color="SpinnerColor.Primary" />
}
else
{
    <div class="row">
        @foreach (var test in CurrentTests)
        {
            <div class="col-md-4 mb-3">
                <TestCard Test="test" />
            </div>
        }
    </div>
}

<div class="row">
    <div class="col-md-4 mb-3">
        <TestCard Test="@(new Test{ Title = "Comprehensive Test", Duration = Constants.ComprehensiveTestDuration })" />
    </div>
    
</div>

@code {

    [Inject]
    private ApiService ApiService { get; set; }

    private Test[] CurrentTests;

    protected override async Task OnInitializedAsync()
    {
        var tests = await ApiService.GetTestsAsync();
        if (tests != null)
        {
            CurrentTests = tests.ToArray();
        }
    }
}
