
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Test.Title </h5>
        <p class="card-text">Question count: @Test.Duration</p>
        <div class="text-right mt-3">
            <button class="btn btn-primary" @onclick="NavigateToTestDetails">Start</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Test Test { get; set; }

    [Parameter]
    public Action OnButtonPress { get; set; }

    private void NavigateToTestDetails()
    {
        OnButtonPress?.Invoke();
    }
}