
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Test.Title </h5>
        @* <h6 class="card-subtitle mb-2 text-muted">ID: @Test.Id</h6> *@
        <p class="card-text">Question count: @Test.Duration</p>
        <div class="text-right mt-3">
            <button class="btn btn-primary" @onclick="NavigateToTestDetails">Start</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Test Test { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private void NavigateToTestDetails()
    {
        if (Test.Title == Constants.ComprehensiveTestTitle)
        {
            NavigationManager.NavigateTo($"/test-details/{Constants.ComprehensiveTestRoute}");
        }
        else
        {
            NavigationManager.NavigateTo($"/test-details/{Test.Id}");
        }
    }
}